In [1]:
import pandas as pd
import csv

In [2]:
filename= "credits.csv"

credits  = pd.read_csv(filename)

#print(df.to_string())

credits.head(8)

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862
5,"[{'cast_id': 25, 'character': 'Lt. Vincent Han...","[{'credit_id': '52fe4292c3a36847f802916d', 'de...",949
6,"[{'cast_id': 1, 'character': 'Linus Larrabee',...","[{'credit_id': '52fe44959251416c75039da9', 'de...",11860
7,"[{'cast_id': 2, 'character': 'Tom Sawyer', 'cr...","[{'credit_id': '52fe46bdc3a36847f810f797', 'de...",45325

In [3]:
all_casts = []
all_crews = []
for i in range(credits.shape[0]):
    cast = eval(credits['cast'][i])
    for x in cast:
        x['movie_id'] = credits['id'][i]
    crew = eval(credits['crew'][i])
    for x in crew:
        x['movie_id'] = credits['id'][i]
    all_casts.extend(cast)
    all_crews.extend(crew)

all_casts = pd.DataFrame(all_casts)
all_crews = pd.DataFrame(all_crews)

In [4]:
all_casts.head(20)

,cast_id,character,credit_id,gender,id,name,order,profile_path,movie_id
0,14,Woody (voice),52fe4284c3a36847f8024f95,2,31,Tom Hanks,0,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg,862
1,15,Buzz Lightyear (voice),52fe4284c3a36847f8024f99,2,12898,Tim Allen,1,/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg,862
2,16,Mr. Potato Head (voice),52fe4284c3a36847f8024f9d,2,7167,Don Rickles,2,/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg,862
3,17,Slinky Dog (voice),52fe4284c3a36847f8024fa1,2,12899,Jim Varney,3,/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg,862
4,18,Rex (voice),52fe4284c3a36847f8024fa5,2,12900,Wallace Shawn,4,/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg,862
5,19,Hamm (voice),52fe4284c3a36847f8024fa9,2,7907,John Ratzenberger,5,/yGechiKWL6TJDfVE2KPSJYqdMsY.jpg,862
6,20,Bo Peep (voice),52fe4284c3a36847f8024fad,1,8873,Annie Potts,6,/eryXT84RL41jHSJcMy4kS3u9y6w.jpg,862
7,26,Andy (voice),52fe4284c3a36847f8024fc1,0,1116442,John Morris,7,/vYGyvK4LzeaUCoNSHtsuqJUY15M.jpg,862
8,22,Sid (voice),52fe4284c3a36847f8024fb1,2,12901,Erik von Detten,8,/twnF1ZaJ1FUNUuo6xLXwcxjayBE.jpg,862
9,23,Mrs. Davis (voice),52fe4284c3a36847f8024fb5,1,12133,Laurie Metcalf,9,/unMMIT60eoBM2sN2nyR7EZ2BvvD.jpg,862
10,24,Sergeant (voice),52fe4284c3a36847f8024fb9,2,8655,R. Lee Ermey,10,/r8GBqFBjypLUP9VVqDqfZ7wYbSs.jpg,862
11,25,Hannah (voice),52fe4284c3a36847f8024fbd,1,12903,Sarah Freeman,11,None,862
12,27,TV Announcer (voice),52fe4284c3a36847f8024fc5,2,37221,Penn Jillette,12,/zmAaXUdx12NRsssgHbk1T31j2x9.jpg,862
13,1,Alan Parrish,52fe44bfc3a36847f80a7c73,2,2157,Robin Williams,0,/sojtJyIV3lkUeThD7A2oHNm8183.jpg,8844
14,8,Samuel Alan Parrish / Van Pelt,52fe44bfc3a36847f80a7c99,2,8537,Jonathan Hyde,1,/7il5D76vx6QVRVlpVvBPEC40MBi.jpg,8844
15,2,Judy Sheperd,52fe44bfc3a36847f80a7c77,1,205,Kirsten Dunst,2,/wBXvh6PJd0IUVNpvatPC1kzuHtm.jpg,8844
16,24,Peter Shepherd,52fe44c0c3a36847f80a7ce7,0,145151,Bradley Pierce,3,/j6iW0vVA23GQniAPSYI6mi4hiEW.jpg,8844
17,10,Sarah Whittle,52fe44bfc3a36847f80a7c9d,1,5149,Bonnie Hunt,4,/7spiVQwmr8siw5QCcvvdRG3c7Lf.jpg,8844
18,25,Nora Shepherd,52fe44c0c3a36847f80a7ceb,1,10739,Bebe Neuwirth,5,/xm58rpMRVDHS0IGttw1pTlqGwkN.jpg,8844
19,26,Carl Bentley,52fe44c0c3a36847f80a7cef,2,58563,David Alan Grier,6,/5tkt3qRZTco4sz604aTIarQ0m8W.jpg,8844

In [10]:
cast = all_casts[['id','name','order', 'gender', 'movie_id']]
cast.head(30)

         id                name  order  gender  movie_id
0        31           Tom Hanks      0       2       862
1     12898           Tim Allen      1       2       862
2      7167         Don Rickles      2       2       862
3     12899          Jim Varney      3       2       862
4     12900       Wallace Shawn      4       2       862
5      7907   John Ratzenberger      5       2       862
6      8873         Annie Potts      6       1       862
7   1116442         John Morris      7       0       862
8     12901     Erik von Detten      8       2       862
9     12133      Laurie Metcalf      9       1       862
10     8655        R. Lee Ermey     10       2       862
11    12903       Sarah Freeman     11       1       862
12    37221       Penn Jillette     12       2       862
13     2157      Robin Williams      0       2      8844
14     8537       Jonathan Hyde      1       2      8844
15      205       Kirsten Dunst      2       1      8844
16   145151      Bradley Pierce      3       0      8844
17     5149         Bonnie Hunt      4       1      8844
18    10739       Bebe Neuwirth      5       1      8844
19    58563    David Alan Grier      6       2      8844
20     1276   Patricia Clarkson      7       1      8844
21    46530      Adam Hann-Byrd      8       0      8844
22    56523    Laura Bell Bundy      9       1      8844
23    51551         James Handy     10       2      8844
24    56522      Gillian Barber     11       1      8844
25  1000304       Brandon Obray     12       2      8844
26   188949      Cyrus Thiedeke     13       0      8844
27  1076551  Gary Joseph Thorup     14       0      8844
28  1480246        Leonard Zola     15       0      8844
29    25024         Lloyd Berry     16       2      8844

In [6]:
crew = all_crews[['name', 'job', 'gender', 'movie_id']]
crew.tail(10)

                       name                      job  gender  movie_id
464304             Lav Diaz                   Editor       0    111109
464305             Lav Diaz           Cinematography       0    111109
464306       Mark L. Lester                 Director       2     67758
464307   C. Courtney Joyner               Screenplay       2     67758
464308   Jeffrey Goldenberg               Screenplay       2     67758
464309       Richard McHugh  Original Music Composer       0     67758
464310       João Fernandes  Director of Photography       2     67758
464311     Yakov Protazanov                 Director       0    227506
464312  Joseph N. Ermolieff                 Producer       2    227506
464313        Daisy Asquith                 Director       0    461257

In [7]:
movieid_count = crew["movie_id"].count

In [8]:
print(movieid_count)

<bound method Series.count of 0            862
1            862
2            862
3            862
4            862
           ...
464309     67758
464310     67758
464311    227506
464312    227506
464313    461257
Name: movie_id, Length: 464314, dtype: int64>

In [11]:
crew.to_csv('crew.csv')

In [12]:
cast.to_csv('cast.csv')